<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="./js/jquery-3.3.1.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</head>
<body>
	
	<div class="container">
		<div class="jumbotron">
			<h1>Registrar Usuarios</h1>
		</div>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<form>
						<!--  th:action="@{/index}" method="post" -->
						<div>
							<label for="nombre">Nombre Usuario </label>
							<div>
								<input type="text" name="nombre" id="nombre"
									class="input form-control" required>
							</div>
							<div th:if="${error != null && error.containsKey(nombre)}"
								th:text="${error.nombre}"></div>
						</div>

						<div>
							<label for="correo">Correo Usuario</label>
							<div>
								<input type="email" name="email" id="email"
									class="input form-control">
							</div>
						</div>

						<div>

							<div>
								<label for="estatus">Estatus:</label> 
								<select name="estatus" id="estatus">
									<option selected="true" disabled="disabled" value="0">SELECCIONA
										ESTATUS</option>
									<option value="ACTIVO">ACTIVO</option>
									<option value="INACTIVO">INACTIVO</option>
									<option value="SUSPENDIDO">SUSPENDIDO</option>
								</select>
							</div>

						</div>


						<div class="form-group col-md-6">
							<button type="button" id="btn-submit" class="btn btn-primary"
								onclick="validarInputs();">Enviar</button>

							<a href="http://localhost:8080/exportarReporte"
								class="btn btn-primary">Exportar PDF</a>
							<!--<input type="submit" value="Enviar">-->
							<!--<input type="submit" value="Enviar">-->
						</div>
						<div class="form-group col-md-6"></div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<table id="tableUsuarios" class="table table-bordered table-striped">
			<thead class="thead-light">
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Email</th>
					<th>Estatus</th>
					<th>Fecha y Hora</th>
					<th> </th>
					<th></th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>




	<div class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button-->
					<!--h4 class="modal-title" id="myModalLabel">Confirmar></h4-->
					<p id="msjModal">Mensaje</p>
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-default" id="modal-btn-si">
						<p id="si">Si</p>
					</button>
					<button type="button" onclick="TablaUsuarios();"
						class="btn btn-primary" id="modal-btn-no">
						<p id="no">No</p>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="alert" role="alert" id="result"></div>




</body>

<script type="text/javascript">
	$(document).ready(function() {
		TablaUsuarios()
	});

	function registroUsuario() {
		var nombre;
		var email;
		var estatus;
		var datos = {
			nombre : document.getElementById("nombre").value,
			email : document.getElementById("email").value,
			estatus : document.getElementById("estatus").value,
		};
		$.ajax({
			type : "POST",
			contentType : "application/json",
			//dataType : 'json',
			url : "postRegistrarUsuario",
			data : JSON.stringify(datos),
			success : function(response) {
				TablaUsuarios();
				$(".input").val("");
			},
			error : function() {

			},
			async : true,
			cache : false
		});

	}
	function TablaUsuarios() {
		console.log("Actualiza tabla");
		$
				.ajax({
					url : "/api/reportes/getUsuario",
					data : {},
					success : function(data) {
						console.log(data);
						var dataJSON = data;
						dataJSON = JSON.parse(dataJSON);
						var tablaUsuario = '';
						if (jQuery.isEmptyObject(dataJSON)) {
							$("#tableUsuarios tbody").html('');
						} else {
							for (var i = 0; i < dataJSON.length; i++) {
								var idTrNombre = "nombre" + dataJSON[i].id;
								var idTrEmail = "email" + dataJSON[i].id;
								var idTrEstatus = "estatus" + dataJSON[i].id;
								var modificaBtn = "botonModificar"
										+ dataJSON[i].id;
								var modificaTd = "tdModificar" + dataJSON[i].id;
								var eliminaBtn = "botonEliminar"
										+ dataJSON[i].id;
								tablaUsuario += '<tr>' + '<td>'
										+ dataJSON[i].id
										+ '</td>'
										+ '<td id='+ idTrNombre +'>'
										+ dataJSON[i].nombre
										+ '</td>'
										+ '<td id='+ idTrEmail +'>'
										+ dataJSON[i].email
										+ '</td>'
										+ '<td id='+ idTrEstatus +'>'
										+ dataJSON[i].estatus
										+ '</td>'
										+ '<td>'
										+ dataJSON[i].fechaDeRegistro
										+ '</td>'
										+ '<td id='+modificaTd+'>'
										+ '<button id="'
										+ modificaBtn
										+ '" class="btn btn-primary" onclick="modificarUsuario(this)" data-value="'
										+ dataJSON[i].id
										+ '">  Editar  </button>'
										+ '</td>'
										+ '<td>'
										+ '<button id="'
										+ eliminaBtn
										+ '" class="btn btn-danger" onclick="eliminarUsuario(this)" data-value="'
										+ dataJSON[i].id
										+ '"> Eliminar </button>' + '</td>'

										+ '</tr>';
								$("#tableUsuarios tbody").html(tablaUsuario);
							}
						}
					},
					error : function() {

					},
					async : true,
					cache : false
				});
	}

	function modificarUsuario(id) {
		var idUsuario = $(id).data('value');
		$
				.ajax({
					url : "/api/reportes/getUsuario",
					data : {},
					success : function(data) {
						var dataJSON = data;
						dataJSON = JSON.parse(dataJSON);
						var tablaUsuarioTr = '';
						if (jQuery.isEmptyObject(dataJSON)) {
							$("#tableUsuarios tbody").html('');
						} else {
							for (var i = 0; i < dataJSON.length; i++) {
								var indice = dataJSON[i].id;
								if (indice == idUsuario) {

									$("#nombre" + idUsuario)
											.html(
													'<input type="text" name="innombre'+idUsuario+'" id="innombre'+idUsuario+'" value="'+dataJSON[i].nombre+'">');
									$("#email" + idUsuario)
											.html(
													'<input type="email" name="inemail'+idUsuario+'" id="inemail'+idUsuario+'" value="'+dataJSON[i].email+'">');
							
									$("#estatus" + idUsuario)
											.html(
													
													'<select name="inestatus'+idUsuario+'" id="inestatus'+idUsuario+'">'
													+'<option selected="true" disabled="disabled" value="'+dataJSON[i].estatus+'">'+dataJSON[i].estatus+'</option>'
													+'<option id="estatusACTIVO" value="ACTIVO">ACTIVO</option>'
													+'<option id="estatusINACTIVO" value="INACTIVO">INACTIVO</option>'
													+'<option id="estatusSUSPENDIDO" value="SUSPENDIDO">SUSPENDIDO</option>'
												    +'</select>'
											
											
											
											);
									
									

									$("#tdModificar" + idUsuario)
											.html(
													'<button class="btn btn-success" onclick="validarInputsGuardar(this);" data-value="'
															+ dataJSON[i].id
															+ '">  Guardar </button>');
									$('#botonEliminar' + idUsuario).attr(
											"disabled", true);

								} else {
									$('#botonModificar' + indice).attr(
											"disabled", true);
									$('#botonEliminar' + indice).attr(
											"disabled", true);
								}
								$('#inestatus'+idUsuario+' option[id="estatus'+dataJSON[i].estatus+'"]').remove();
							}
						}
					},
					error : function() {

					},
					async : true,
					cache : false
				});

	}
	function eliminarUsuario(id) {
		var idUsuario = $(id).data('value');
		$.ajax({
			type : "GET",
			url : "eliminarUsuario",
			data : {
				idUsuario : idUsuario
			},
			success : function(data) {
				TablaUsuarios();
			},
			error : function() {

			},
			async : false,
			cache : false
		});

	}

	function actualizaUsuario(id) {
		var idUsuario = id;
		var id;
		var nombre;
		var email;
		var estatus;
		var idNombre = "innombre" + idUsuario;
		var idEmail = "inemail" + idUsuario;
		var idEstatus = "inestatus" + idUsuario;

		var datos = {
			id : idUsuario,
			nombre : document.getElementById(idNombre).value,
			email : document.getElementById(idEmail).value,
			estatus : document.getElementById(idEstatus).value
		};
		$.ajax({
			type : "POST",
			contentType : "application/json",
			//dataType : 'json',
			url : "postRegistrarUsuario",
			data : JSON.stringify(datos),
			success : function(response) {
				TablaUsuarios();
				$(".input").val("");
			},
			error : function() {

			},
			async : true,
			cache : false
		});

	}

	function validarInputs() {
		if ($("#nombre").val() == '') {
			$("#nombre").css("background-color", "pink");
			$("#mi-modal").modal('show');
			$("#modal-btn-no").hide();
			$("#msjModal").text('Ingrese un Nombre');
			$("#si").text('Aceptar');

			$("#modal-btn-si").on("click", function() {
				$("#mi-modal").modal('hide');
			});
			return false;
		}
		if ($("#email").val().indexOf('@', 0) == -1
				|| $("#email").val().indexOf('.', 0) == -1) {
			$("#email").css("background-color", "pink");
			$("#nombre").css("background-color", "");
			$("#mi-modal").modal('show');
			$("#modal-btn-no").hide();
			$("#msjModal").text('Ingrese un Correo valido');
			$("#si").text('Aceptar');
			$("#modal-btn-si").on("click", function() {
				$("#mi-modal").modal('hide');
			});
			return false;
		}
		if ($("#estatus option:selected").val() == '0') {
			$("#estatus").css("background-color", "pink");
			$("#email").css("background-color", "");
			$("#mi-modal").modal('show');
			$("#modal-btn-no").hide();
			$("#msjModal").text('Ingrese un Estatus');
			$("#si").text('Aceptar');
			$("#modal-btn-si").on("click", function() {
				$("#mi-modal").modal('hide');
			});
			return false;
		}
		$("#nombre").css("background-color", "");
		$("#email").css("background-color", "");
		$("#estatus").css("background-color", "");
		registroUsuario();

	}
	
	
	
	function confirmarEliminar(id) {
		var idUsuario = $(id).data('value');
		console.log("Datos eliminados", idUsuario)
		TablaUsuarios();

		var modalConfirm = function(callback) {
			$("#mi-modal").modal('show');
			$("#msjModal").text('¿Desea Eliminar el Usuario? ');
			$("#modal-btn-no").show();
			$("#si").text('SI');
			$("#no").text('NO');

			$("#modal-btn-si").on("click", function() {
				var idsEliminar = new Array();
				idsEliminar.push(idUsuario);
				console.log("usuario eliminar", idsEliminar);
				callback(true);
				$("#mi-modal").modal('hide');
			});

			$("#modal-btn-no").on("click", function() {
				console.log("no callback")
				callback(false);
				$("#mi-modal").modal('hide');
			});
		};

		modalConfirm(function(confirm) {
			if (confirm) {
				eliminarUsuario(idsEliminar);
			}
		});

	}
	
	function validarInputsGuardar(id) {
		var idUsuario = $(id).data('value');
		var idNombre = "#innombre" + idUsuario;
		var idEmail = "#inemail" + idUsuario;
		var idEstatus = "#inestatus" + idUsuario;
		if ($(idNombre).val() == '') {
			$(idNombre).css("background-color", "pink");
			$("#mi-modal").modal('show');
			$("#modal-btn-no").hide();
			$("#msjModal").text('Ingrese un Nombre a Guardar');
			$("#si").text('Aceptar');

			$("#modal-btn-si").on("click", function() {
				$("#mi-modal").modal('hide');
			});
			return false;
		}
		if ($(idEmail).val().indexOf('@', 0) == -1
				|| $(idEmail).val().indexOf('.', 0) == -1) {
			$(idEmail).css("background-color", "pink");
			$(idNombre).css("background-color", "");
			$("#mi-modal").modal('show');
			$("#modal-btn-no").hide();
			$("#msjModal").text('Ingrese  un Correo valido a Guardar ');
			$("#si").text('Aceptar');
			$("#modal-btn-si").on("click", function() {
				$("#mi-modal").modal('hide');
			});
			return false;
		}

		
		$(idNombre).css("background-color", "");
		$(idEmail).css("background-color", "");
		$(idEstatus).css("background-color", "");
		actualizaUsuario(idUsuario);

	}

</script>
</html>