<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<!-- link rel="stylesheet" href="./css/bootstrap.css"-->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

</head>
<body>
	<h1>Spring boot Softtek</h1>
	<div class="container">
		<div class="jumbotron">
			<h1>Registra Usuarios</h1>
		</div>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<form>
						<!--  th:action="@{/index}" method="post" -->
						<div>
							<label for="nombre">Nombre Usuario </label>
							<div>
								<input type="text" name="nombre" id="nombre"
									class="input form-control" required>
							</div>
							<div th:if="${error != null && error.containsKey(nombre)}"
								th:text="${error.nombre}"></div>
						</div>

						<div>
							<label for="correo">Correo Usuario</label>
							<div>
								<input type="email" name="email" id="email"
									class="input form-control">
							</div>
						</div>

						<div>

							<div>
								<label for="estatus">Estatus:</label> <select name="estatus"
									id="estatus">
									<option selected="true" disabled="disabled" value="0">SELECCIONA ESTATUS</option>
									<option value="ACTIVO">ACTIVO</option>
									<option value="INACTIVO">INACTIVO</option>
									<option value="SUSPENDIDO">SUSPENDIDO</option>
								</select>
							</div>

						</div>


						<div class="form-group col-md-6">
							<button type="button" id="btn-submit" class="btn btn-primary"
								onclick="validarInputs();">Enviar</button>

							<!--<input type="submit" value="Enviar">-->
						</div>
						<div class="form-group col-md-6">
							<a href="http://localhost:8080/exportarReporte"
								class="btn btn-primary">Exportar PDF</a>
							<!--<input type="submit" value="Enviar">-->
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<table id="tableUsuarios" class="table table-bordered table-striped">
			<thead clas="thead-light">
				<tr>
					<th scope="coll">ID</th>
					<th scope="coll">Email</th>
					<th scope="coll">Nombre</th>
					<th scope="coll">Estatus</th>
					<th scope="coll">Fecha y Hora</th>

				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modal Header</h4>
				</div>
				<div class="modal-body">
					<p id="msj">Some text in the modal.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button-->
					<!--h4 class="modal-title" id="myModalLabel">Confirmar></h4-->
					<p id="msjModal">Mensaje</p>
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-default" id="modal-btn-si">
						<p id="si">Si</p>
					</button>
					<button type="button" onclick="TablaUsuarios();" class="btn btn-primary" id="modal-btn-no">
						<p id="no">No</p>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="alert" role="alert" id="result"></div>




</body>

<script type="text/javascript">
	$(document).ready(function() {
		TablaUsuarios()
	});

	function registroUsuario() {
		var nombre;
		var email;
		var estatus;
		var datos = {
			nombre : document.getElementById("nombre").value,
			email : document.getElementById("email").value,
			estatus : document.getElementById("estatus").value,
		};
		$.ajax({
			type : "POST",
			contentType : "application/json",
			//dataType : 'json',
			url : "postRegistrarUsuario",
			data : JSON.stringify(datos),
			success : function(response) {
				TablaUsuarios();
				$(".input").val("");
			},
			error : function() {

			},
			async : true,
			cache : false
		});

	}
	function TablaUsuarios() {
	console.log("Actualiza tabla");
		$
				.ajax({
					url : "/api/reportes/getUsuario",
					data : {},
					success : function(data) {
						console.log(data);
						var dataJSON = data;
						dataJSON = JSON.parse(dataJSON);
						var tablaUsuario = '';
						if (jQuery.isEmptyObject(dataJSON)) {
							$("#tableUsuarios tbody").html('');
						} else {
							for (var i = 0; i < dataJSON.length; i++) {
								var idTrNombre = "nombre" + dataJSON[i].id;
								var idTrEmail = "email" + dataJSON[i].id;
								var idTrEstatus = "estatus" + dataJSON[i].id;
								var modificaBtn = "botonModificar"
										+ dataJSON[i].id;
								var modificaTd = "tdModificar" + dataJSON[i].id;
								var eliminaBtn = "botonEliminar"
										+ dataJSON[i].id;
								tablaUsuario += '<tr>' + '<td>'
										+ dataJSON[i].id
										+ '</td>'
										+ '<td id='+ idTrNombre +'>'
										+ dataJSON[i].nombre
										+ '</td>'
										+ '<td id='+ idTrEmail +'>'
										+ dataJSON[i].email
										+ '</td>'
										+ '<td id='+ idTrEstatus +'>'
										+ dataJSON[i].estatus
										+ '</td>'
										+ '<td>'
										+ dataJSON[i].fechaDeRegistro										
										+ '</td>'
										+ '<td id='+modificaTd+'>'
										+ '<button id="'
										+ modificaBtn
										+ '" class="btn btn-primary" onclick="modificarUsuario(this)" data-value="'
										+ dataJSON[i].id
										+ '">  Editar  </button>'
										+ '</td>'
										+ '<td>'
										+ '<button id="'
										+ eliminaBtn
										+ '" class="btn btn-danger" onclick="eliminarUsuario(this)" data-value="'
										+ dataJSON[i].id
										+ '"> Eliminar </button>' + '</td>'

										+ '</tr>';
								$("#tableUsuarios tbody").html(tablaUsuario);
							}
						}
					},
					error : function() {

					},
					async : true,
					cache : false
				});
	}

	function modificarUsuario(id) {
		var idUsuario = $(id).data('value');
		$
				.ajax({
					url : "/api/reportes/getUsuario",
					data : {},
					success : function(data) {
						var dataJSON = data;
						dataJSON = JSON.parse(dataJSON);
						var tablaUsuarioTr = '';
						if (jQuery.isEmptyObject(dataJSON)) {
							$("#tableUsuarios tbody").html('');
						} else {
							for (var i = 0; i < dataJSON.length; i++) {
								var indice = dataJSON[i].id;
								if (indice == idUsuario) {

									$("#nombre" + idUsuario)
											.html(
													'<input type="text" name="innombre'+idUsuario+'" id="innombre'+idUsuario+'" value="'+dataJSON[i].nombre+'">');
									$("#email" + idUsuario)
											.html(
													'<input type="email" name="inemail'+idUsuario+'" id="inemail'+idUsuario+'" value="'+dataJSON[i].email+'">');
									$("#estatus" + idUsuario)
											.html(
													'<input type="text" name="inestatus'+idUsuario+'" id="inestatus'+idUsuario+'" value="'+dataJSON[i].estatus+'">');
									$("#tdModificar" + idUsuario)
											.html(
													'<button class="btn btn-success" onclick="actualizaUsuario(this);" data-value="'
															+ dataJSON[i].id
															+ '">  Guardar </button>');
									$('#botonEliminar' + idUsuario).attr(
											"disabled", true);

								} else {
									$('#botonModificar' + indice).attr(
											"disabled", true);
									$('#botonEliminar' + indice).attr(
											"disabled", true);
								}

							}
						}
					},
					error : function() {

					},
					async : true,
					cache : false
				});

	}
	function eliminarUsuario(id) {
		var idUsuario = $(id).data('value');		
		$.ajax({
			type : "GET",
			url : "eliminarUsuario",
			data : {
				idUsuario : idUsuario
			},
			success : function(data) {
				TablaUsuarios();			
			},
			error : function() {

			},
			async : false,
			cache : false
		});
		

	}

	function actualizaUsuario(id) {
		var idUsuario = $(id).data('value');
		var id;
		var nombre;
		var email;
		var estatus;
		var idNombre = "innombre" + idUsuario;
		var idEmail = "inemail" + idUsuario;
		var idEstatus = "inestatus" + idUsuario;
		console.log("Actualizando....", idNombre, " ", idEmail, " ", idEstatus);

		var datos = {
			id : idUsuario,
			nombre : document.getElementById(idNombre).value,
			email : document.getElementById(idEmail).value,
			estatus : document.getElementById(idEstatus).value
		};
		$.ajax({
			type : "POST",
			contentType : "application/json",
			//dataType : 'json',
			url : "postRegistrarUsuario",
			data : JSON.stringify(datos),
			success : function(response) {
				TablaUsuarios();
				$(".input").val("");
			},
			error : function() {

			},
			async : true,
			cache : false
		});

	}

	function validarInputs() {
		if ($("#nombre").val() == '') {
			$("#nombre").css("background-color", "pink");
			$("#mi-modal").modal('show');
			$("#modal-btn-no").hide();
			$("#msjModal").text('Ingrese un Nombre');
			$("#si").text('Aceptar');

			$("#modal-btn-si").on("click", function() {
				$("#mi-modal").modal('hide');
			});
			return false;
		}
		if ($("#email").val().indexOf('@', 0) == -1
				|| $("#email").val().indexOf('.', 0) == -1) {
			$("#email").css("background-color", "pink");
			$("#nombre").css("background-color", "");
			$("#mi-modal").modal('show');
			$("#modal-btn-no").hide();
			$("#msjModal").text('Ingrese un Correo valido');
			$("#si").text('Aceptar');
			$("#modal-btn-si").on("click", function() {
				$("#mi-modal").modal('hide');
			});			
			return false;
		}
		if($("#estatus option:selected").val() == '0'){
			$("#estatus").css("background-color", "pink");
			$("#email").css("background-color", "");
			$("#mi-modal").modal('show');
			$("#modal-btn-no").hide();
			$("#msjModal").text('Ingrese un Estatus');
			$("#si").text('Aceptar');
			$("#modal-btn-si").on("click", function() {
				$("#mi-modal").modal('hide');
			});	
			return false;
		}
		$("#nombre").css("background-color", "");
		$("#email").css("background-color", "");
		$("#estatus").css("background-color", "");
		registroUsuario();

	}

	function confirmarEliminar(id) {
		var idUsuario = $(id).data('value');
		console.log("Datos eliminados", idUsuario)
		TablaUsuarios();
		 
		var modalConfirm = function(callback) {
			$("#mi-modal").modal('show');
			$("#msjModal").text('¿Desea Eliminar el Usuario? ');
			$("#modal-btn-no").show();
			$("#si").text('SI');
			$("#no").text('NO');
			
			$("#modal-btn-si").on("click", function() {
				var idsEliminar = new Array();
				idsEliminar.push(idUsuario);
				console.log("usuario eliminar", idsEliminar );
				callback(true);
				$("#mi-modal").modal('hide');
			});

			$("#modal-btn-no").on("click", function() {
				console.log("no callback")
				callback(false);
				$("#mi-modal").modal('hide');
			});
		};

		modalConfirm(function(confirm) {
			if (confirm) {
				eliminarUsuario(idsEliminar);	
			}
		});

	}
</script>
</html>